<div id="pageContainer">
  <h1>New Punishment</h1>

  <div class="form-wrapper">
    <form
      [formGroup]="punishForm"
      (ngSubmit)="submitPunishment()"
      class="mat-elevation-z6"
    >
      <mat-form-field appearance="fill">
        <mat-label>Player Name</mat-label>
        <input
          required
          matInput
          type="text"
          placeholder="Enter player name"
          formControlName="plrName"
        />
        <mat-hint>
          Case doesn't matter!
        </mat-hint>
        <mat-error *ngIf="plrName.invalid && plrName.touched">
          You need the player's name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Reason</mat-label>
        <input required type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="reason" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let punishment of filteredPunishments | async" [value]="punishment">
            {{punishment}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="reason.getError('required')">
          You need a reason!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Offense Count</mat-label>
        <mat-select required formControlName="offenseCount">
          <mat-option value="0">0</mat-option>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="3+">3+</mat-option>
        </mat-select>
        <mat-error *ngIf="offenseCount.invalid && offenseCount.touched">
          You need to provide the amount of past infractions
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Upload Evidence</mat-label>
        <ngx-mat-file-input
          required
          placeholder="Upload Evidence"
          valuePlaceholder="No file selected"
          formControlName="evidenceUpload"
        >
        </ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
        <mat-error *ngIf="evidenceUpload.hasError('required')">
          Please select a file
        </mat-error>
        <mat-error *ngIf="evidenceUpload.hasError('maxContentSize')">
          The total size must not exceed
          {{ evidenceUpload.getError('maxContentSize').maxSize | byteFormat }}
          ({{
            evidenceUpload.getError('maxContentSize').actualSize | byteFormat
          }}).
        </mat-error>
        <mat-hint>
          Has to be less then 5MB (5,000 KB)!<br />
          Evidence is not required if you are a Mod+
        </mat-hint>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="punishForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>

  <div id="plrInfo">
    <span id="plrNameSpan"></span>
    <img id="plrAvatar" src="#" alt="" />
  </div>
</div>
