<div id="pageContainer">

  <h1>Sign up</h1>

  <div class="form-wrapper">
    <form [formGroup]="signupForm" (ngSubmit)="signUp()">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input required matInput type="email" placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="email.invalid && email.touched">
          That email doesn't look right...
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input required matInput type="password" placeholder="Enter your password" formControlName="password">
        <mat-error *ngIf="password.invalid && password.touched">
          You need a password
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input required matInput type="password" placeholder="Confirm your password" formControlName="confPassword">
        <mat-error *ngIf="confPassword.hasError('notEquivalent') && confPassword.touched">
          The passwords don't match
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Sign up</button>

    </form>
  </div>

</div>
