#pageContainer {
  height: 100vh;
  margin-top: 5rem;
}

#pageTitle {
  margin-left: 2rem;
}

.mat-card-container {
  width: 95%;
  margin: 0 auto;

  mat-card {
    height: 15em;
  }
}

.card-content {
  font-size: 1.3em;
}

#serverRank {
  margin: 1rem 0;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
