<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="punUser">
    <th mat-header-cell *matHeaderCellDef> Punished Player </th>
    <td mat-cell *matCellDef="let punishment"> {{punishment.punUser}} </td>
  </ng-container>

  <ng-container matColumnDef="punBy">
    <th mat-header-cell *matHeaderCellDef> Punished by </th>
    <td mat-cell *matCellDef="let punishment"> {{punishment.punBy}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let punishment"> {{punishment.date}} </td>
  </ng-container>

  <ng-container matColumnDef="priorOffenses">
    <th mat-header-cell *matHeaderCellDef> Prior Offenses </th>
    <td mat-cell *matCellDef="let punishment"> {{punishment.priorOffenses}} </td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef> Reason </th>
    <td mat-cell *matCellDef="let punishment"> {{punishment.reason}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
